﻿@font-face {
    font-family: 'VniGothamLight';
    src: url('../Fonts/vni-gothamlight.eot');
    src: url('../Fonts/vni-gothamlight.eot?#iefix') format('embedded-opentype'), url('../Fonts/vni-gothamlight.woff') format('woff'), url('../Fonts/vni-gothamlight.ttf') format('truetype'), url('../Fonts/vni-gothamlight.svg#vni-gothamlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    padding: 0px;
    margin: 0px;
    width: auto;
    height: auto;
}

body {
    width: 810px;
    height: auto;
    background-color: #fff; /* layer fill content */
    margin: 0px auto;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

div {
    position: relative;
}

a img {
    border: none;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.float {
    float: left;
}

.bg {
    width: 810px;
    background: url('../Images/bg.png') repeat-y 0px 0px transparent;
    margin: auto;
}

    .bg .logo {
        width: 110px;
        height: 33px;
        background: url('../Images/logo.png') no-repeat 0px 0px transparent;
        float: left;
        display: block;
        margin-left: 26px;
        margin-top: 18px;
    }

    .bg .snap-logo {
        width: 100px;
        height: 25px;
        background: url('../Images/snapdragon_logo.png') no-repeat 0px 0px transparent;
        float: left;
        display: block;
        margin-left: 20px;
        margin-top: 27px;
    }

    .bg .wp-logo {
        width: 316px;
        height: 28px;
        background: url('../Images/home-phone-logo-layer.png') no-repeat 0px 0px transparent;
        float: right;
        display: block;
        margin-right: 20px;
        margin-top: 20px;
    }

.menu {
    width: 810px;
    height: 41px;
    background-color: #f5f5f5; /* layer fill content */
    -moz-box-shadow: 0 3px 3px rgba(148,148,148,.2); /* drop shadow */
    -webkit-box-shadow: 0 3px 3px rgba(148,148,148,.2); /* drop shadow */
    box-shadow: 0 3px 3px rgba(148,148,148,.2); /* drop shadow */
    font-family: "VniGothamLight", "Arial";
    list-style: none;
    float: left;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

    .menu li {
        float: left;
        padding: 10px 15px 0px;
        text-transform: uppercase;
        font-size: 14px;
    }

        .menu li a {
            color: #231f20;
            text-decoration: none;
        }

        .menu li:hover a {
            color: #80c719;
        }

        .menu li.disabled a {
            color: #aaaaaa;
        }

        .menu li.selected a {
            color: #79bb06;
        }

        .menu li a span {
            float: left;
        }

.footer {
    width: 795px;
    height: 12px;
    font-family: Arial;
    font-size: 11px;
    /*position: absolute;*/
    bottom: 15px;
    padding-top: 18px;
    padding-left: 15px;
    color: #585858;
    line-height: 12px;
}

    .footer a {
        color: #585858;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }

    .footer .beat-logo {
        width: 119px;
        height: 28px;
        background: url('../Images/home-beat-logo.png') no-repeat 0px 0px transparent;
        display: block;
        float: right;
        margin-top: -18px;
        margin-right: 20px;
    }

/**********************
    HOME PAGE
***********************/

.like-box {
    width: 168px;
    height: 81px;
    background: url('../Images/like.png') no-repeat 0px 0px transparent;
    position: absolute;
    top: 0px;
    right: 20px;
}

.home-page {
    height: 718px;
}

    .home-page .phones-image {
        width: 317px;
        height: 394px;
        background: url('../Images/home-phone-layer.png') no-repeat 0px 0px transparent;
        position: absolute;
        top: 98px;
        left: 104px;
    }

    .home-page .headline {
        width: auto;
        height: 281px;
        /*background: url('../Images/home-headline.png') no-repeat 0px 0px transparent;*/
        font-family: "VniGothamLight", "Arial";
        font-weight: bold;
        position: absolute;
        top: 112px;
        left: 448px;
    }

        .home-page .headline div span {
            display: block;
            float: left;
        }

    .home-page .photos-stream {
        width: 810px;
        height: 234px;
        background: url('../Images/home-photos-layer.png') no-repeat 0px 0px transparent;
        position: absolute;
        top: 409px;
        left: 0px;
    }

/*********************
    TERM PAGE
**********************/

.term-page {
    clear: both;
    height: 720px;
}

    .term-page .phone-image {
        width: 169px;
        height: 210px;
        background: url('../Images/term-phone-layer.png') no-repeat 0px 0px transparent;
        float: left;
        margin-top: 37px;
        margin-left: 100px;
    }

    .term-page .headline {
        color: #7fc719; /* text color */
        font-family: "VniGothamLight", "Arial";
        font-size: 30px;
        float: left;
        margin-top: 121px;
        margin-left: 10px;
        text-transform: uppercase;
    }

        .term-page .headline span {
            float: left;
        }

    .term-page .title {
        text-align: center;
        clear: both;
        font-family: Arial;
        font-size: 22px;
        font-weight: bold;
        color: #7fc719;
        padding-top: 10px;
    }

    .term-page .content {
        width: 600px;
        height: 330px;
        font-size: 12px;
        font-family: Arial;
        color: #333333;
        line-height: 1.5;
        clear: both;
        padding-left: 100px;
        padding-right: 60px;
    }

        .term-page .content h2 {
            color: #7fc719; /* text color */
            font-family: "Arial";
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }

/*****************
    UPLOAD POPUP
******************/

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 99999;
}

.textbox {
    width: 255px;
    height: 30px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    padding: 0px 15px 0px 35px;
    border: none;
    outline: none;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 12px;
}

    .textbox.error, input[type=checkbox].error {
        border-color: #953b39;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    }

.upload-input {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.upload-button {
    width: 89px;
    height: 30px;
    display: block;
    -moz-border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
    border-radius: 0px 15px 15px 0px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #bebebe; /* layer fill content + color overlay */
    color: #fff; /* text color */
    font-family: "Arial";
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 30px;
    cursor: pointer;
    z-index: 1;
}

.popup {
    width: 362px;
    height: auto;
    border: 5px solid #79bb07; /* stroke */
    background-color: #eaeaea; /* layer fill content + color overlay */
    float: left;
    color: #333; /* text color */
    font-family: "Arial";
    font-size: 12px;
}

    .popup h2 {
        width: 366px;
        height: 55px;
        background-color: #79bb07; /* layer fill content */
        text-align: center;
        color: #fff; /* text color */
        font-family: "VniGothamLight", "Arial";
        font-size: 20px;
        font-weight: normal;
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        line-height: 45px;
    }

        .popup h2 span {
            float: left;
            text-align: left;
        }

    .popup .close {
        width: 26px;
        height: 26px;
        display: block;
        background: url('../Images/icon-close.png') no-repeat 0px 0px transparent;
        position: absolute;
        right: 5px;
        top: 10px;
        z-index: 99999;
    }

    .popup ul {
        width: 305px;
        list-style: none;
        padding: 0px;
        margin: 30px auto;
    }

        .popup ul li {
            height: 45px;
            position: relative;
        }

            .popup ul li label {
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                top: 7px;
                left: 10px;
                z-index: 99;
            }

                .popup ul li label.name {
                    background: url('../Images/icon-name.png') no-repeat 0px 0px transparent;
                }

                .popup ul li label.email {
                    background: url('../Images/icon-email.png') no-repeat 0px 0px transparent;
                }

                .popup ul li label.phone {
                    background: url('../Images/icon-phone.png') no-repeat 0px 0px transparent;
                }

                .popup ul li label.photo {
                    background: url('../Images/icon-photo.png') no-repeat 0px 0px transparent;
                }

                .popup ul li label.text {
                    color: #333; /* text color */
                    font-family: "Arial";
                    font-size: 12px;
                    width: auto;
                    left: 30px;
                    top: 4px;
                }

                .popup ul li label a {
                    color: #79bc08;
                    text-decoration: underline;
                }

            .popup ul li input[type=file] {
                width: 305px;
                height: 30px;
                position: absolute;
                top: 0px;
                left: 0px;
                text-align: right;
                display: block;
            }

                .popup ul li input[type=file].hidden {
                    -moz-opacity: 0;
                    filter: alpha(opacity: 0);
                    opacity: 0;
                    z-index: 2;
                }

.upload-popup div.error {
    color: #953b39;
    font-family: Arial;
    font-size: 12px;
}

    .upload-popup div.error label {
        position: relative;
        clear: both;
        width: 100%;
        height: auto;
    }

.thanks-popup {
    height: 270px;
}

    .thanks-popup ul li {
        height: 30px;
        line-height: 30px;
    }

    .thanks-popup input[type=text] {
        width: 275px;
        padding-left: 15px;
    }

    .thanks-popup .button {
        width: 180px;
        left: 30px;
    }

/***********************
    GALLERY PAGE
************************/

.gallery-page {
    height: 718px;
    clear: both;
    padding: 0px 42px;
}

    .gallery-page .phone-image {
        width: 169px;
        height: 210px;
        background: url('../Images/term-phone-layer.png') no-repeat 0px 0px transparent;
        float: left;
        margin-top: 37px;
        margin-left: 58px;
    }

    .gallery-page .headline {
        color: #333; /* text color */
        font-size: 23px;
        font-family: "VniGothamLight", "Arial";
        float: left;
        margin-top: 60px;
        margin-left: 30px;
    }

        .gallery-page .headline span {
            float: left;
            text-align: left;
        }

        .gallery-page .headline h2 {
            color: #7fc719; /* text color */
            font-size: 26px;
            font-weight: normal;
            text-transform: uppercase;
            margin: 0px;
            padding: 0px;
        }

    .gallery-page .images-list {
        list-style: none;
        margin: 15px 0px 10px;
        padding: 0px;
    }

        .gallery-page .images-list li {
            float: left;
            margin-right: 14px;
        }

            .gallery-page .images-list li:last-child {
                margin-right: 0px;
            }

            .gallery-page .images-list li .image-box {
                width: 161px;
                height: 106px;
                border: 5px solid #fff; /* stroke */
                background-color: #bfbfbf; /* layer fill content */
                -moz-box-shadow: 0 2px 2px rgba(127,127,127,.25); /* drop shadow */
                -webkit-box-shadow: 0 2px 2px rgba(127,127,127,.25); /* drop shadow */
                box-shadow: 0 2px 2px rgba(127,127,127,.25); /* drop shadow */
                display: block;
            }

                .gallery-page .images-list li .image-box div {
                    width: 161px;
                    height: 106px;
                    overflow: hidden;
                }

            .gallery-page .images-list li .title {
                width: 171px;
                color: #333; /* text color */
                font-family: "Arial";
                font-size: 12px;
                padding: 5px 0px;
                overflow: hidden;
            }

            .gallery-page .images-list li .like {
                color: #79bb07; /* text color */
                font-family: "Arial";
                font-size: 12px;
                font-weight: bold;
                float: left;
                background: url('../Images/icon-like.png') no-repeat right 3px transparent;
                padding-right: 15px;
            }

    .gallery-page .paging {
        margin: 10px 0px;
        padding: 0px;
        float: left;
    }

        .gallery-page .paging a {
            width: 20px;
            height: 21px;
            border: 2px solid #fff; /* stroke */
            -moz-border-radius: 12px;
            -webkit-border-radius: 12px;
            border-radius: 12px; /* border radius */
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box; /* prevents bg color from leaking outside the border */
            background-color: #c5bdbd; /* layer fill content */
            float: left;
            margin-right: 5px;
            color: #fff; /* text color */
            font-family: "Arial";
            font-size: 12px;
            font-weight: bold;
            line-height: 21px;
            text-align: center;
            text-decoration: none;
        }

            .gallery-page .paging a.selected {
                width: 20px;
                height: 21px;
                border: 2px solid #fff; /* stroke */
                -moz-border-radius: 12px;
                -webkit-border-radius: 12px;
                border-radius: 12px; /* border radius */
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box; /* prevents bg color from leaking outside the border */
                background-color: #79bb07; /* layer fill content */
            }

.image-popup {
    width: 415px;
}

    .image-popup div.imageContainer {
        width: 415px;
        height: 264px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .image-popup .title {
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 12px;
        padding: 5px 20px;
    }

    .image-popup .like {
        color: #79bb07; /* text color */
        font-family: "Arial";
        font-size: 12px;
        font-weight: bold;
        float: left;
        background: url('../Images/icon-like.png') no-repeat right 3px transparent;
        padding-right: 15px;
        padding-left: 20px;
    }

    .image-popup .like-button {
        width: 85px;
        height: 22px;
        border: none;
        outline: none;
        background: url('../Images/yeuthichbtn.png') no-repeat 0px 0px transparent;
        float: right;
        margin-top: 10px;
    }

    .image-popup .share-button {
        width: 85px;
        height: 22px;
        font-family: "Arial";
        font-size: 12px;
        font-weight: normal;
        float: right;
        background: url('../Images/chiasebtn.png') no-repeat right 0px transparent;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 20px;
        line-height: 18px;
    }

    .image-popup .error {
        color: #f00;
    }

    .image-popup .success {
        color: #00f;
    }

.share {
    cursor: pointer;
}

.search-box {
    width: 100px;
    height: 22px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    -moz-box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    -webkit-box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    background: url('../Images/icon-search.png') no-repeat 130px 5px #fff;
    border: none;
    outline: none;
    padding: 0px 30px 0px 15px;
    font-size: 12px;
    font-family: Arial;
    color: #a9a5a5;
    float: right;
}

.sort-region {
    width: 180px;
}

    .sort-region label {
        width: 82px;
        float: left;
        color: #333; /* text color */
        font-family: "Arial";
        font-size: 12px;
        font-weight: bold;
        padding-top: 3px;
        padding-right: 5px;
    }

    .sort-region .arrow {
        width: 10px;
        height: 7px;
        background: url('../Images/icon-arrow.png') no-repeat 0px 0px transparent;
        z-index: 1;
        display: block;
        position: absolute;
        right: 12px;
        top: 8px;
    }

.sort-box {
    width: 60px;
    height: 19px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #fff; /* layer fill content */
    -moz-box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    -webkit-box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    box-shadow: inset 0 1px 1px rgba(108,108,108,.15); /* inner shadow */
    padding: 3px 13px 0px;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: Arial;
    color: #a9a5a5;
    float: left;
    overflow: hidden;
    line-height: 19px;
}

.select-box {
    width: 85px;
    height: 22px;
    border: none;
    outline: none;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    position: absolute;
    top: 0px;
    left: 87px;
    font-size: 12px;
    font-family: Arial;
    color: #a9a5a5;
    z-index: 99;
}


/********************
    BUTTONS
*********************/

.button {
    height: 30px;
    display: block;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #75b700; /* layer fill content */
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
    box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE4NSAzMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzViNzAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOTFlMTQyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxODUiIGhlaWdodD0iMzAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #75b700 0%, #91e142 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #75b700 0%, #91e142 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #75b700 0%, #91e142 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #75b700 0%, #91e142 100%); /* gradient overlay */
    color: #fff; /* text color */
    padding: 0px 30px;
    font-family: "Arial";
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    position: absolute;
    border: none;
    outline: none;
    text-decoration: none;
}

    .button:hover {
        cursor: pointer;
        height: 30px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px; /* border radius */
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        background-color: #75b700; /* layer fill content */
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
        box-shadow: inset 0 1px 0 rgba(255,255,255,.75); /* inner shadow */
        background-image: none;
    }

    .button .arrow {
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        background: #fff;
        border: none;
    }

        .button .arrow:after, .button .arrow:before {
            left: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .button .arrow:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            border-width: 4px;
            top: 50%;
            margin-top: -4px;
        }

        .button .arrow:before {
            border-color: rgba(255, 225, 255, 0);
            border-left-color: #fff;
            border-width: 4px;
            top: 50%;
            margin-top: -4px;
        }


.jspLines div.jspLine {
    width: 5px;
    height: 1px;
    background-color: #fff; /* layer fill content */
    margin-bottom: 1px;
    margin-left: 2px;
    float: left;
}
