﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="HTC_Photo_Contest._Default" %>

<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="HeadContent">
    <style type="text/css">
        .menu {
            display: none;
        }

        .bg .wp-logo {
            margin-right: 210px;
        }
    </style>
</asp:Content>
<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="BodyPlaceHolder">
    <div class="like-box"></div>
    <div class="home-page">
        <div class="phones-image"></div>
        <div class="headline">
            <div style="font-size: 27px; color: #333;">
                <span>Seû chia khoaûnh kh</span>
                <span style="width: 16px;">aé</span>
                <span>c</span>
            </div>
            <div class="clear" style="color: #7fc719; font-size: 48px; text-transform: uppercase; line-height: 55px;">
                "Cuøng nhau
                <br />
                <span style="width: 130px;">theå</span>
                <span style="width: 85px;">hieä</span>
                <span>n</span>
                <br />
                caù tính"
            </div>
            <div class="clear" style="font-size: 27px; color: #333;">
                ñeå coù cô hoäi sôû höõu giaûi thöôûng cöïc kool<br />
            </div>
        </div>
        <a id="facebookLogin" class="button" style="top: 385px; left: 448px; width: 185px;">Tham gia ngay<span class="arrow"></span></a>
        <div class="photos-stream"></div>
    </div>
</asp:Content>
